.card-js .card-number-wrapper .card-type-icon {
  height:23px;
  width:32px;
  position: absolute;
  display: block;
  right: 8px;
  top: 7px;
  background: url("https://cardjs.co.uk/img/cards.png") no-repeat 0px 23px;
  pointer-events: none;
  opacity: 0;

  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.card-js .card-number-wrapper .show {
  opacity: 1;
}
.card-js .card-number-wrapper .card-type-icon.visa {
  background-position:0px 0px;
}
.card-js .card-number-wrapper .card-type-icon.master-card {
  background-position:-32px 0px;
}
.card-js .card-number-wrapper .card-type-icon.american-express {
  background-position:-64px 0px;
}
.card-js .card-number-wrapper .card-type-icon.discover {
  background-position:-96px 0px;
}
.card-js .card-number-wrapper .card-type-icon.diners {
  background-position:-128px 0px;
}
.card-js .card-number-wrapper .card-type-icon.jcb {
  background-position:-160px 0px;
}