.cardjs .expiry-wrapper {
  box-sizing: border-box;
}




.cardjs .expiry-wrapper {
  padding-right: 5px;
}



.cardjs .expiry-wrapper .expiry-month {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 30px;
}

.cardjs .expiry-wrapper .expiry-year {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}



.cardjs .expiry-wrapper {
  display: inline-block;
}

.cardjs .expiry-wrapper .expiry-month,
.cardjs .expiry-wrapper .expiry-year {
  display: inline-block;
}



.cardjs .expiry-wrapper .expiry {
  width: 100%;
  padding-left: 38px;
}