.cardjs .icon {
  position: absolute;
  display: block;
  width:24px;
  height:17px;
  left: 8px;
  top: 10px;
  pointer-events: none;
}
.cardjs .icon.right {
  right: 8px;
  left: auto;
}
.cardjs .icon.popup {
  cursor: pointer;
  pointer-events: auto;
}
.cardjs .icon .svg {
  fill: #888;
}
.cardjs .icon.popup .svg {
  fill: #aaa !important;
}